body {
    padding: 21px 91px;
    background-color: #00155f;
    font-family: serif;
    color: white;
    background-image: url('./ball_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 19px 54px;
    color: white;
    background-color: #ba126fe0;
}
.matches {
    margin-bottom: 16px;
    box-shadow: 7px 13px 46px #1b41dc;
}
.match {
    display: flex;
    flex-direction: row;
    padding: 15px 64px;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #023474fa;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img {
    width: 6%;
    height: 1%;
}
input[type="number"] {
    background-color: #00000026;
    border: none;
    text-align: center;
    font-size: 16px;
    width: 95px;
    color: #fff7e8;
    font-family: monospace;
}
span {
    align-self: center;
}
.inputs {
    background-color: #023474;
    padding: 38px 74px;
}

.divbtn {
    text-align-last: center;
    padding: 11px;
}
input#btn {
    width: 50%;
    color: white;
    background-color: #a41774;
    border: none;
    font-size: 28px;
    box-shadow: 7px 13px 49px #1236b7;
    border-radius: 4px;
    font-family: serif;
}

table {
    color: white;
    width: 100%;
    text-align: -webkit-center;
    height: 33%;
    background-color: #023373f0;
    border-radius: 4px;
    margin: 12px 0px;
    box-shadow: 7px 13px 49px #1236b7;
}
td {
    text-align: center;
    padding: 5px 4px;
}

  

  
  
  
        
